@charset "utf-8";
/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=East+Sea+Dokdo&family=Montserrat&family=Nanum+Pen+Script&family=Roboto:wght@300&family=Signika:wght@300;500;600;700&family=Single+Day&family=Song+Myung&display=swap");
/* font-family: 'Signika', sans-serif; */

* {
  pading: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}
ul,
li {
  /* 쉼표는 같은 값 설정해준다는 뜻 */
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  color: #333;
  font-size: 14px;
}
html,
body {
  height: 100%;
}
h1 {
  font-size: 5em;
  /* em = 부모 폰트 사이즈에 x5배 */
  /* 14px * 5 = 70px */
  font: bold 7.5vw/1.6;
  /* 브라우저 영역에서 7.5%가 보일 것 이다 */
  /* lineheight를 14px의 1.6배 설정하겠다는 뜻 */
  font-family: "Signika", sans-serif;
  user-select: none;
  /* 드래그 설정 막겠다는 뜻 */
}
h1 span {
  display: inline-block;
  animation: float 0.2s ease-in-out infinite;
}
@keyframes float {
  0%,
  100% {
    transform: none;
  }
  33% {
    transform: translateY(-1px) rotate(-2deg);
  }
  66% {
    transform: translateY(1px) rotate(2deg);
  }
}
body:hover span {
  animation: bounce 0.6s 2;
  /* 바운스 , 0.6초동안 움직임 ,2번 */
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}
/* 마우스 커서가 바디 밖에 있을땐 떨다가 , 바디 안에 들어가면 바운스 함*/
span:nth-child(4n) {
  color: hsl(50, 75%, 55%);
  text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%),
    3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}
span:nth-child(4n-1) {
  color: hsl(135, 35%, 55%);
  text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%),
    3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}
span:nth-child(4n-2) {
  color: hsl(155, 35%, 60%);
  text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%),
    3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}
span:nth-child(4n-3) {
  color: hsl(30, 65%, 60%);
  text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%),
    3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

h1 span:nth-child(2) {
  animation-delay: 0.05s;
}
h1 span:nth-child(3) {
  animation-delay: 0.1s;
}
h1 span:nth-child(4) {
  animation-delay: 0.15s;
}
h1 span:nth-child(5) {
  animation-delay: 0.2s;
}
h1 span:nth-child(6) {
  animation-delay: 0.25s;
}
h1 span:nth-child(7) {
  animation-delay: 0.3s;
}
h1 span:nth-child(8) {
  animation-delay: 0.35s;
}
h1 span:nth-child(9) {
  animation-delay: 0.4s;
}
h1 span:nth-child(10) {
  animation-delay: 0.45s;
}
h1 span:nth-child(11) {
  animation-delay: 0.5s;
}
h1 span:nth-child(12) {
  animation-delay: 0.55s;
}
h1 span:nth-child(13) {
  animation-delay: 0.6s;
}
h1 span:nth-child(14) {
  animation-delay: 0.65s;
}
/* header */
header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #333;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  /* z-inde 공부하기 */
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-itmes = 세로축 정렬 */
}
.logo {
  width: 20%;
  /* background-color: aqua; */
}
.logo a {
  font-weight: 800;
  font-size: 30px;
}
header ul {
  display: inline-block;
  width: 50%;
  display: flex;
  justify-content: space-between;
}
/* 헤더 영역에 flex 줘서 너비 맞추고, 매뉴에도 flex 줘서 맞춰주면됨 */
header ul li {
  padding: 5px;
  line-height: 70px;
  /* background-color: aquamarine; */
}
header ul li a {
  text-align: center;
  font-weight: 600;
}
.icon a {
  font-size: 20px;
  /* 아이콘은 폰트로 인식됨 */
  margin-right: 20px;
}
.search-box {
  display: block;
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-box input[type="text"] {
  width: 80%;
  /* 전체의 80%가 아니라 부모영역의 (서치박스) 80% 라는 뜻 */
  border: none;
  box-sizing: border-box;
  outline: none;
}
.fixbn {
  width: 21%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid #333;
  text-align: center;
  background-color: #fff;
}
.fixbn video {
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-top: 200px;
  /* 위에 갖다붙은 애들 마진탑으로 띄워줌 */
  margin-bottom: 100px;
}
.fixbn h2 {
  font-family: "Signika", sans-serif;
  color: #29624f;
}
.fixbn a p {
  margin-top: 15px;
  text-decoration: underline;
}
.contents {
  width: 79%;
  float: right;
  position: relative;
  /* 포지션 공부하기 */
}
.mainbg {
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
}
.mainbg > img {
  float: right;
  width: 50%;
}
.text {
  width: 80%;
  position: absolute;
  top: 150px;
  left: 0;
}
.text a {
  font-size: 18px;
  font-weight: 200;
  display: block;
  margin-top: 50px;
}
.text a::first-letter {
  font-size: 25px;
  /* 폰트 첫번째 글자만 사이즈 크게줘서 강조 */
  font-weight: bold;
  color: #29624f;
}
.magazine {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
}
.magazine::before {
  content: "Magazine";
  /* :: 어쩌구는 적용하려면 content로 가상공간 꼭 만들어주기 */
  display: block;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  line-height: 150px;
}
.con_bn {
  width: 33.3%;
  float: left;
}
.con_bn:nth-child(2) {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.con {
  width: 80%;
  /* .con_bn (부모) 영역 33.3%중 80%를 사용하겠다는 뜻*/
  margin: auto;
  font-size: 14px;
  color: #ccc;
  font-weight: 200;
  margin-bottom: 100px;
}
.con a {
  font-size: 18px;
  color: #333;
  font-weight: 500;
  text-decoration: underline;
  display: block;
  padding: 20px 0;
}
footer {
  width: 100%;
  height: 10%;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
footer ul {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
footer ul li {
  display: block;
  padding: 0 10px;
}
footer p {
  color: #eee;
  text-align: center;
}
.gnb_mb_sns {
  display: flex;
  gap: 0 10px;
}
.gnb_mb_sns li a {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 0;
  transition: background 0.3s;
  overflow: hidden;
}
.gnb_mb_sns li a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  transition: background-position 0.3s;
}
.gnb_mb_sns li a:hover {
  background-color: black;
}
.i-fb::before {
  background: url("images/icon_sns.svg") no-repeat;
  background-position: 0 0;
}
.i-fb:hover::before {
  background-position: -30px 0;
}
.i-is::before {
  background: url("images/icon_sns.svg") no-repeat;
  background-position: 0 -30px;
}
.i-is:hover::before {
  background-position: -30px -30px;
}
.i-yt::before {
  background: url("images/icon_sns.svg") no-repeat;
  background-position: 0 -60px;
}
.i-yt:hover::before {
  background-position: -30px -60px;
}